:root {
  --dark: #212121;
  --brand: #fdd835;
  --shadow-dim: 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}

header {
  background-color: var(--brand);
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

header img {
  border: 0.75rem solid white;
  box-shadow: var(--shadow-dim);
}

article {
  background-color: var(--dark);
  color: white;
  padding: 2em;
}

.astuces {
  color: var(--brand);
}

.container {
  max-width: 60ch; /*35rem;  35*16 = 650px*/
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 2rem;
  text-align: center;
}
@media (hover: hover) {
  li {
    filter: blur(8px);
    transition: filter 1s;
  }
  li:hover {
    filter: none;
    color: var(--brand);
  }
}

/*a partir de 640px*/
@media screen and (min-width: 640px) {
  body {
    padding: 2rem;
  }
  header {
    margin-bottom: 2rem;
  }
  header img {
    transform: rotate(-3deg);
  }
  article {
    box-shadow: var(--shadow-dim);
    margin-bottom: 2rem;
  }
  footer {
    border: 1px solid;
    box-shadow: 0.75rem 0.75rem 0 var(--brand);
  }
}
